<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhml"
      xmlns:th="http://www.thymeleaf.org">
<head th:insert="fragments/fragments :: head"/>
<head>
    <script type="text/java" src="convertTimeStampToDate.js"></script>
    <title>Liste des réservations</title>

    <style>
        body {
            padding-top: 50px;
        }

        .special {
            padding-top: 50px;
        }
    </style>
</head>
<body>

<div th:insert="fragments/fragments :: header_dwp"></div>

<div class="container special">
    <h2 class="h2">Liste de réservations</h2>
    <div class="table-responsive">
        <table class="table table-striped table-sm">
            <thead>
            <tr>
                <th>nom</th>
                <th>prénom</th>
                <th>type de l'espace</th>
                <th>début</th>
                <th>fin</th>

            </tr>
            </thead>
            <tbody>
            <tr th:if="${Reservations.empty}">
                <td colspan="3">Aucun employée en base de données</td>
            </tr>
            <tr th:each="reservation: ${Reservations}">
                <td><span th:text="${reservation[11]}"> Nom </span></td>
                <td><span th:text="${reservation[10]}"> Prénom</span></td>
                <td><span th:text="${reservation[6]}"> Type</span></td>
                <td><span th:text="${reservation[3]}"> début</span></td>
                <td><span th:text="${reservation[4]}"> fin</span></td>
                <td>
                    <a th:href="@{/consumption/{id}(id=${reservation[0]})}">
                        <button class="btn btn-info" style="color: white;">Voir Consommation</button>
                    </a>
                    <
                </td>


            </tr>
            </tbody>
        </table>
    </div>

</div>

<script
        src="https://ajax.googleapis.com/ajax/libs/jquery/1.12.4/jquery.min.js"></script>
<script
        src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"
        integrity="sha384-Tc5IQib027qvyjSMfHjOMaLkfuWVxZxUPnCJA7l2mCWNIpG9mGCD8wGNIcPD7Txa"
        crossorigin="anonymous"></script>
<script type="text/java">
    import Java.Util.Date;

    import java.sql.Timestamp;
    import java.text.SimpleDateFormat;

    public class convertTimeStampToDate() {
        private Timestamp timeStamp;

        public void convertTimeStampToDate(Timestamp timestamp) {
            this.timeStamp = timestamp;
            SimpleDateFormat dateFormat = new SimpleDateFormat("dd-MM-YYY HH:mm:ss");
            dateFormat.format(timestamp);
        }


    }


</script>
</body>
</html>