<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhml"
      xmlns:th="http://www.thymeleaf.org">
<head th:insert="fragments/fragments :: head"/>
<meta http-equiv="refresh" content="30"/>
<head>
    <script type="text/java" src="convertTimeStampToDate.js"></script>
    <title>Consommation des équipements</title>
    <span th:text="${#dates.format(#dates.createNow(), 'HH:mm')}"></span>
    <span th:text="${#dates.format(#dates.createNow(), ' dd MMM yyyy')}"></span>

    <style>
        body {
            padding-top: 50px;
        }

        .special {
            padding-top: 50px;
        }
    </style>
</head>
<body>

<div th:insert="fragments/fragments :: header_dwp"></div>

<div class="container special">
    <h2 class="h2">la consommation en temps réel</h2>
    <div class="table-responsive">
        <table class="table table-striped table-sm">
            <thead>
            <tr>
                <th>Nom de l'équipment</th>

                <th>Date de prélevement</th>
                <th>Unité</th>
                <th>Valeur</th>


            </tr>
            </thead>
            <tbody>

            <tr th:each="reservation: ${consumptions}">
                <td><span th:text="${reservation[7]}"> Nom </span></td>
                <td><span th:text="${reservation[5]}"> Type</span></td>
                <td><span th:text="${reservation[4]}"> début</span></td>
                <td><span th:text="${reservation[3]}"> fin</span></td>


            </tr>
            </tbody>
        </table>
    </div>

</div>

<script
        src="https://ajax.googleapis.com/ajax/libs/jquery/1.12.4/jquery.min.js"></script>
<script
        src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"
        integrity="sha384-Tc5IQib027qvyjSMfHjOMaLkfuWVxZxUPnCJA7l2mCWNIpG9mGCD8wGNIcPD7Txa"
        crossorigin="anonymous"></script>
<script type="text/java">
    import Java.Util.Date;

    import java.sql.Timestamp;
    import java.text.SimpleDateFormat;

    public class convertTimeStampToDate() {
        private Timestamp timeStamp;

        public void convertTimeStampToDate(Timestamp timestamp) {
            this.timeStamp = timestamp;
            SimpleDateFormat dateFormat = new SimpleDateFormat("dd-MM-YYY HH:mm:ss");
            dateFormat.format(timestamp);
        }


    }


</script>
</body>
</html>