<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta http-equiv="refresh" content="5; URL=http://localhost:9001/equipmentcons/1">

    <link rel="stylesheet"
          href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css"
          integrity="sha384-BVYiiSIFeK1dGmJRAkycuHAHRg32OmUcww7on3RYdg4Va+PmSTsz/K68vbdEjh4u"
          crossorigin="anonymous">

    <link rel="stylesheet"
          href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap-theme.min.css"
          integrity="sha384-rHyoN1iRsVXV4nD0JutlnGaslCJuC7uwjduW9SVrLvRYooPp2bWYgmgJQIXwl/Sp"
          crossorigin="anonymous">
    <title>equipments</title>
    <span th:text="${#dates.format(#dates.createNow(), 'HH:mm')}"></span>
    <span th:text="${#dates.format(#dates.createNow(), ' dd MMM yyyy')}"></span>
</head>
<body>

<div class="container special">
    <h2 class="h2">equipments</h2>

    <div class="table-responsive">
        <table class="table table-striped table-sm">
            <thead>
            <tr>
                <th>KW</th>
                <th>nom de equipment</th>
                <th>id equip</th>
                <th>id consumer</th>
                <th>time</th>
                <th>finish time</th>


            </tr>
            </thead>
            <tbody>

            <tr class="equipment" th:each="equipment:${equipments}">
                <td><span class="kw" th:text="${equipment.kw}"> KW </span></td>
                <td><span class="nom" th:text="${equipment.nom}"> id de equipment </span></td>
                <td><span class="idequip" th:text="${equipment.idequip}"> id de equipment </span></td>
                <td><span class="idconsumer" th:text="${equipment.idconsumer}"> id consumer </span></td>
                <td><span class="time" th:text="${equipment.time}"> id consumer </span></td>
                <td><span class="finishtime" th:text="${equipment.finishtime}"> id consumer </span></td>


            </tr>
            </tbody>
        </table>
    </div>

</div>
<script>
</script>
</body>
</html>
</html>