<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhml"
      xmlns:th="http://www.thymeleaf.org">
<head th:insert="fragments/fragments :: head"/>
<head>
    <title>Monitoring equipement</title>
    <span th:text="${#dates.format(#dates.createNow(), 'HH:mm')}"></span>
    <span th:text="${#dates.format(#dates.createNow(), ' dd MMM yyyy')}"></span>
    <style>
        body {
            padding-top: 50px;
        }

        .special {
            padding-top: 50px;
        }
    </style>
</head>
<body>

<nav th:insert="fragments/fragments :: header_energy"></nav>


<div class="container special">
    <a th:href="@{/monitoring/room/{id}(id=${idRoom})}">
        <button class="btn btn-info">Retour</button>
    </a>
    <h2 class="h2">Liste des consomations</h2>
    <div class="table-responsive">
        <table class="table table-striped table-sm">
            <thead>
            <tr>
                <th>Date de pelevement</th>
                <th>Valeur</th>                
            </tr>
            </thead>
            <tbody>

            <tr th:each="consumption: ${consumptions}">
                <td><span th:text="${#dates.format(consumption.samplingDate, 'dd/MM/yyyy hh:mm')}">  </span></td>
                <td><span th:text="${consumption.instantaneousPower}"> </span></td>
            </tr>

            </tbody>

        </table>

    </div>
</div>
</body>
</html>
