<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhml"
      xmlns:th="http://www.thymeleaf.org">
    <head th:insert="fragments/fragments :: head"/>
    <style>
        body {
            padding-top: 50px;
        }

        .special {
            padding-top: 50px;
        }
    </style>
</head>
<body>

    <nav th:insert="fragments/fragments :: header_energy"></nav>


    <div class="container special">

        <h2 class="h1">La maison <span th:text="${home.idHome}"></span></h2>
        <h2 class="h3" style="color:  #e67e22">La consomation</h2>

        <div style="border-style: solid; border-color: #e67e22; padding: 10px">
            <div class="row-area" style="border-style: solid; " th:each="room: ${rooms}">

                <h5 >La pièce : <span th:text="${room.name}" style="color: red;"> </span></h5>

                <div class="table-responsive" th:if="${not #lists.isEmpty(room.equipments)}">
                    <table class="table table-striped table-sm">
                        <thead>
                            <tr>
                                <th>Catégorie</th>
                                <th>Type</th>                
                                <th>Puissance</th>
                                <th>Date</th>
                                <th>Prélevement</th>
                                <th>Détails</th>
                            </tr>
                        </thead>
                        <tbody>

                            <tr th:each="equipment: ${room.equipments}">
                                <td><span th:text="${equipment.category}"></span></td>
                                <td><span th:text="${equipment.typeEquipment}"></span></td>
                                <td><span th:text="${equipment.nominalPower}"></span></td>
                                <td><span th:text="${#dates.format(equipment.samplingDate, 'dd/MM/yyyy hh:mm')}"> </span></td>
                                <td><span th:text="${equipment.value}"></span></td>
                                <td>
                                    <a th:href="@{/monitoring/consumption/{id}(id=${equipment.idEquipment})}">
                                        <button class="btn btn-info" style="color: white;">Consulter</button>
                                    </a>
                                    <a th:href="@{/monitoring/chart/{id}(id=${equipment.idEquipment})}">
                                        <button class="btn btn-info" style="color: white;">Graphe</button>
                                    </a>
                                    <a>
                                         <button class="btn btn-info" style="color: white;">Configurer</button>
                                    </a>
                                </td>
                            </tr>
                        </tbody>
                    </table>
                </div>
            </div>
        </div>
        <br/>
        <h2 class="h3" style="color: blue">La production</h2>
        <div style="border-style: solid; border-color: blue; padding: 10px">
           <div style="border-style: solid; border-color: black; padding: 10px">
                    <h5 >éolienne</h5 >
               <table class="table table-striped table-sm">
                        <thead>
                            <tr>
                                <th>Numéro</th>            
                                <th>Prélevement</th>
                            </tr>
                        </thead>
                        <tbody>

                            <tr th:each="windTurbine: ${windTurbines}">
                                <td><span th:text="${windTurbine.idWindTurbine}"></span></td>
                                <td><span th:text="${windTurbine.production}"></span></td>
                            </tr>
                        </tbody>
                    </table>
                </div>
            <div style="border-style: solid; border-color: black; padding: 10px">
                <h5 >panneau solaire</h5 >
                <table class="table table-striped table-sm">
                    <thead>
                        <tr>
                            <th>Numéro</th>            
                            <th>Prélevement</th>
                        </tr>
                    </thead>
                    <tbody>

                        <tr th:each="solarPanel: ${solarPanels}">
                            <td><span th:text="${solarPanel.idSolarPanel}"></span></td>
                            <td><span th:text="${solarPanel.production}">kWh</span></td>
                    
                        </tr>
                    </tbody>
                </table>
            </div>
        </div>
    </div>
</body>
</html>
