<!DOCTYPE html SYSTEM "http://www.thymeleaf.org/dtd/xhtml1-strict-thymeleaf-4.dtd">
<html xmlns="http://www.w3.org/1999/xhml"
      xmlns:th="http://www.thymeleaf.org">
<head th:insert="fragments/fragments :: head"/>
<head>
    <style>
        body {
            padding-top: 50px;
        }

        .special {
            padding-top: 50px;
        }
    </style>
</head>
<body>

<nav th:insert="fragments/fragments :: header_energy"></nav>


<div class="container special">
    <a th:href="@{/monitoring/home_type/{id}(id=${room.home.idHome})}">
        <button class="btn btn-info">Retour</button>
    </a>
    <h1>La maison : <span th:text="${room.home.idHome}"> </span></h1>
    <h1>La pièce : <span th:text="${room.name}"> </span></h1>
    <br/>
    <h2 class="h2">Liste des equipments</h2>
    <div class="table-responsive">
        <table class="table table-striped table-sm">
            <thead>
            <tr>
                <th>Catégorie</th>
                <th>Type</th>                
                <th>Puissance</th>
                <th>Pièce</th>
                <th>Prélevement</th>
                <th>Détails</th>
            </tr>
            </thead>
            <tbody>

            <tr th:each="equipment: ${equipments}">
                <td><span th:text="${equipment.category}"> </span></td>
                <td><span th:text="${equipment.typeEquipment}">  </span></td>
                <td><span th:text="${equipment.nominalPower}">  </span></td>
                <td>
                    <span th:text="${equipment.room.name}">  </span>
                </td>
                <td>
                    <span th:text="${equipment.value}">  </span>
                </td>
                <td>
                    <a th:href="@{/monitoring/consumption/{id}(id=${equipment.idEquipment})}">
                        <button class="btn btn-info" style="color: white;">Consulter</button>
                    </a>
                    <a th:href="@{/monitoring/chart/{id}(id=${equipment.idEquipment})}">
                        <button class="btn btn-info" style="color: white;">Graphe</button>
                    </a>
                </td>

            </tr>

            </tbody>

        </table>

    </div>

</div>

</body>
</html>
