body {
    font-family: Arial;
}

/* Style the tab */
.tab {
    overflow: hidden;
    border: 1px solid #ccc;
    background-color: #f1f1f1;
}

/* Style the buttons inside the tab */
.tab button {
    background-color: inherit;
    float: left;
    border: none;
    outline: none;
    cursor: pointer;
    padding: 14px 16px;
    transition: 0.3s;
    font-size: 17px;
}

/* Change background color of buttons on hover */
.tab button:hover {
    background-color: #ddd;
}

/* Create an active/current tablink class */
.tab button.active {
    background-color: #ccc;
}

/* Style the tab content */
.tabcontent {
    display: none;
    padding: 6px 12px;
    border-top: none;
}

.containerMessage {
    border: 2px solid #dedede;
    background-color: #f1f1f1;
    border-radius: 5px;
    padding: 10px;
    float: left;
    width: 60%;
    margin-bottom: 3px;
    height:auto;
}

.darker {
    border-color: #ccc;
    background-color: #ddd;
    float: right;
}

.time-right {
    float: right;
    color: #aaa;
}

.time-left {
    float: left;
    color: #999;
}

#messageContainer {
    position: fixed;
    right: 0;
    bottom: 20px;
    width: 30%;
    height: 30%;
    overflow-y: scroll;
    overflow-x: hidden;
    border: 5px solid #333;
    border-radius: 2px;
    background: #aaaaaa;
}

#textInput {
    width: 30%;
    bottom: 0;
    position: fixed;
    right: 0;
}

p {
    margin: 0 0 0;
}

#popup {
    display: none;
    width: 100%;
    height: 100%;
    top: 0;
    left: 0;
    position: fixed;
    background-color: rgba(50, 50, 50, 0.9);
}
#form {
    position: absolute;
    background-color: #f5f5f5;
    border: 1px solid #212121;
    border-radius: 2px;
    padding: 20px;
    width: 300px;
    left: 50%;
    top: 10%;
    margin-left: -150px;
}

#close {
    position: absolute;
    font-weight: bold;
    margin-left: 240px;
    margin-top: -19px;
    width: 30px;
    height: 27px;
}
p1 {
    float: left;
}
.cont {
    background-color: #e3f2fd;
    border-radius: 2px;
    padding: 20px 50px;
    width: 350px;
    margin: 10px auto 10px auto;
    text-align: left;
    overflow: auto;
}
#add {
    margin: 10px;
}


.dropdown {
    display: inline-block;
    position: relative;
    margin-top: 8px;
    margin-bottom: 8px;
}

.dd-button {
    display: inline-block;
    border: 1px solid gray;
    border-radius: 4px;
    padding: 10px 30px 10px 20px;
    background-color: #ffffff;
    cursor: pointer;
    white-space: nowrap;
}

.dd-button:after {
    content: '';
    position: absolute;
    top: 50%;
    right: 15px;
    transform: translateY(-50%);
    width: 0;
    height: 0;
    border-left: 5px solid transparent;
    border-right: 5px solid transparent;
    border-top: 5px solid black;
}

.dd-button:hover {
    background-color: #eeeeee;
}


.dd-input {
    display: none;
}

.dd-menu {
    position: absolute;
    top: 100%;
    border: 1px solid #ccc;
    border-radius: 4px;
    padding: 0;
    margin: 2px 0 0 0;
    box-shadow: 0 0 6px 0 rgba(0,0,0,0.1);
    background-color: #ffffff;
    list-style-type: none;
}

.dd-input + .dd-menu {
    display: none;
}

.dd-input:checked + .dd-menu {
    display: block;
}

.dd-menu li {
    padding: 10px 20px;
    cursor: pointer;
    white-space: nowrap;
}

.dd-menu li:hover {
    background-color: #f6f6f6;
}

.dd-menu li a {
    display: block;
    margin: -10px -20px;
    padding: 10px 20px;
}

.dd-menu li.divider{
    padding: 0;
    border-bottom: 1px solid #cccccc;
}