body {
    margin: 0;
}

.floor {
    width: 100%;
    height: 400px;
    border: 1px solid black;
    margin-top: 5%;
}

.area {
    border: 1px solid black;
    height: 150px;
}

.area-n {
    border: 1px solid black;
    height: 300px;
}

.corridor-vn {
    border-top: 1px solid black;
    height: 150px;
}

.corridor-vs {
    border-bottom: 1px solid black;
    height: 150px;
}

.corridor-h {
    height: 100px;
}

.corridor {
    height: 100px;
}

/* The Modal (background) */
.modal {
    display: none; /* Hidden by default */
    position: fixed; /* Stay in place */
    z-index: 1; /* Sit on top */
    padding-top: 100px; /* Location of the box */
    left: 0;
    top: 0;
    width: 100%; /* Full width */
    height: 100%; /* Full height */
    overflow: auto; /* Enable scroll if needed */
    background-color: rgb(0, 0, 0); /* Fallback color */
    background-color: rgba(0, 0, 0, 0.4); /* Black w/ opacity */
}

/* Modal Content */
.modal-content {
    background-color: #fefefe;
    margin: auto;
    padding: 20px;
    border: 1px solid #888;
    width: 80%;
}

/* The Close Button */
.close {
    color: #aaaaaa;
    float: right;
    font-size: 28px;
    font-weight: bold;
}

.close:hover,
.close:focus {
    color: #000;
    text-decoration: none;
    cursor: pointer;
}
