<!DOCTYPE html>
<html lang="fr" xmlns="http://www.w3.org/1999/html">
<head th:insert="fragments/fragments :: head"/>
<head>
    <link rel="stylesheet" th:href="@{/styles/map.css}">
    <script src="//cdn.jsdelivr.net/npm/sweetalert2@11"></script>
    <title>Configuration du plan</title>
</head>
<body>
<nav th:insert="fragments/fragments :: header_dwp"></nav>
<div style="margin-top: 2.5%;"></div>
<section class="col vh-100 gradient-custom">
    <div class="container py-5 h-100">
        <div class="row d-flex justify-content-center align-items-center h-100">
            <div class="col-12 col-md-8 col-lg-6">
                <div class="card bg-dark text-white" style="border-radius: 1rem;">
                    <div class="card-body p-5 text-center">

                        <div class="mb-md-5 mt-md-4 pb-5">

                            <h2 class="fw-bold mb-2 text-uppercase">Configuration des plans.</h2>
                            <p class="text-white-50 mb-5">Veuillez choisir une configuration.</p>
                            <div class="row">
                                <div class="col form-outline form-white mb-4">
                                    <select id="buildings"
                                            class="btn btn-light dropdown-toggle"
                                            name="building" required>
                                        <option value="" selected>Sélectionner un bâtiment</option>
                                        <th:block th:each="building : ${buildings}">
                                            <option th:value="${building.id_building}">
                                                <span th:text="${building.building_name}"></span>
                                            </option>
                                        </th:block>
                                    </select>
                                </div>
                            </div>
                            <div class="row">
                                <div class="col form-outline form-white mb-4">
                                    <select class="btn btn-light dropdown-toggle"
                                            name="floor"
                                            id="floors" required>
                                        <option value="" selected>Sélectionner un étage</option>
                                    </select>
                                </div>
                            </div>
                            <div class="row">
                                <div class="col form-outline form-white mb-4">
                                    <select class="btn btn-light dropdown-toggle form-control-sm"
                                            name="corridor"
                                            id="corridor" required>
                                        <option selected th:value="1">1 couloir horizontal</option>
                                        <option th:value="2">2 couloirs</option>
                                    </select>
                                </div>
                            </div>
                            <div class="row">
                                <div class="col form-outline form-white mb-4">
                                    <input id="op" type="number"
                                           class="form-control form-control-sm"
                                           placeholder="Espace Ouvert" min="0" max="4" required/>
                                </div>

                                <div class="col form-outline form-white mb-4">
                                    <input id="double" type="number"
                                           class="form-control form-control-sm"
                                           placeholder="Bureau double" min="0" max="24" required/>
                                </div>
                            </div>
                            <div class="row">
                                <div class="col form-outline form-white mb-4">
                                    <input id="kitchen" type="number"
                                           class="form-control form-control-sm"
                                           placeholder="Cuisine" min="0" max="8" required/>
                                </div>

                                <div class="col form-outline form-white mb-4">
                                    <input id="meeting" type="number"
                                           class="form-control form-control-sm"
                                           placeholder="Salle de réunion" min="0" max="8" required/>
                                </div>
                            </div>
                            <div id="simple" class="row">
                                <div class="col form-outline form-white mb-4">
                                    <input id="simple office" type="number"
                                           class="form-control form-control-sm"
                                           placeholder="Bureau simple" min="0" max="8"/>
                                </div>
                            </div>
                            <div class="row">
                                <div class="col form-outline form-white mb-4">
                                    <div class="form-check form-switch">
                                        <label class="form-check-label form-control-sm text-center"
                                               for="flexSwitchCheckDefault">Remplissage automatique de
                                            l'espace.</label>
                                        <input type="checkbox" name="checkbox" id="flexSwitchCheckDefault"/>
                                        <input type="hidden" id="fill" value="off">
                                    </div>
                                </div>
                            </div>
                            <button id="button" class="btn btn-outline-light btn-lg px-5" type="submit">Soumettre
                            </button>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>
<script type="text/javascript" th:src="@{/js/configurationMap.js}"></script>
<script type="text/javascript" th:src="@{/js/getFloors.js}"></script>
</body>
</html>