<!DOCTYPE html>
<html lang="fr" xmlns="http://www.w3.org/1999/html">
<head th:insert="fragments/fragments :: head"/>
<link rel="stylesheet" th:href="@{/styles/map.css}">
<title>Visualisation du plan</title>
</head>
<body>
<div th:insert="fragments/fragments :: header_dwp"></div>

<h4 class="h4" style="margin-top: 8%;text-align: center;">Carte de l'étage <span th:text="${floor_number}"></span></h4>

<div th:insert="fragments/map :: map"></div>

<div style="margin-top: 4%;" class="d-flex justify-content-center container h-100">
    <div class="row align-items-center h-100">
        <div class="col-md-6">
            <a th:href="@{/cancelConfig/{id}(id=${id_floor})}">
                <button type="button" class=" btn btn-dark btn-lg">Refuser</button>
            </a>
        </div>
        <div class="col-md-6">
            <a th:href="@{/choose}">
                <button type="button" class=" btn btn-dark btn-lg">Accepter</button>
            </a>
        </div>
    </div>
</div>


<script th:inline="javascript">
    modal([[${spacesN}]], true);
    modal([[${spacesS}]], true);
    modal([[${corridors}]], false);

    function modal(list, boolean) {
        if (boolean) {
            let n = list.length;
            let modal = new Array(n);
            let btn = new Array(n);
            let span = new Array(n);
            for (let i = 0; i < n; i++) {
                console.log(list[i].id_space);
                modal[i] = document.getElementById("myModal" + list[i].id_space);
                btn[i] = document.getElementById("myBtn" + list[i].id_space);
                span[i] = document.getElementById("close" + list[i].id_space);
                btn[i].onclick = function () {
                    modal[i].style.display = "block";
                }
                span[i].onclick = function () {
                    modal[i].style.display = "none";
                }
                window.onclick = function (event) {
                    if (event.target === modal[i]) {
                        modal[i].style.display = "none";
                    }
                }
            }
        } else {
            let n = list.length;
            let modalC = new Array(n);
            let btnC = new Array(n);
            let spanC = new Array(n);
            for (let i = 0; i < n; i++) {
                console.log(list[i].id_corridor);
                modalC[i] = document.getElementById("myModalC" + list[i].id_corridor);
                btnC[i] = document.getElementById("myBtnC" + list[i].id_corridor);
                spanC[i] = document.getElementById("closeC" + list[i].id_corridor);
                btnC[i].onclick = function () {
                    modalC[i].style.display = "block";
                }
                spanC[i].onclick = function () {
                    modalC[i].style.display = "none";
                }
                window.onclick = function (event) {
                    if (event.target === modalC[i]) {
                        modalC[i].style.display = "none";
                    }
                }
            }
        }

    }
</script>


</body>
</html>