<!DOCTYPE html>
<html lang="en" xmlns: th="http://www.thymeleaf.org" xmlns:th="http://www.w3.org/1999/xhtml">
<head th:insert="fragments/fragments :: head"/>
<title>Logique de production</title>
</head>
<link rel="stylesheet" th:href="@{/styles/choice.css}">
<body>
<nav th:insert="fragments/fragments :: header_energy"></nav>
<div style="margin-top:10%;">
    <div class="container special">
        <h2 class="h1">Veuillez choisir la logique souhaitée </h2>
        <br>
        <div class="form-group">
            <input type="radio" id="economic" name="choice" value="economic">
            <label for="economic">logique économique</label><br>
            <input type="radio" id="environmental" name="choice" value="environmental">
            <label for="environmental">logique environmentale</label><br>
            <input type="radio" id="preference" name="choice" value="preference">
            <label for="preference">logique preference</label><br>
            <input type="radio" id="proportion" name="choice" value="proportion">
            <label for="proportion">logique proportion</label><br>
            <br>
            <div id="modal" class="modal">
                <div class="modal-content">
                    <span th:id="close" class="close">&times;</span>
                    <form>
                        <h3> Veuillez choisir l'ordre de priorité de l'énergie  </h3>
                    <span>Énergie Solaire

                     <select name="list1" id="list1">
                         <option value="default" disabled selected></option>
                        <option value="1">1</option>
                        <option value="2">2</option>
                        <option value="3">3</option>
                    </select>
                    </span>
                    <span>Énergie Eolienne
                      <select name="list2" id="list2">

                    </select></span>
                    <span>Énergie Hydraulique
                     <select name="list3" id="list3">

                    </select>
                        <br><br>
                    </span>
                    <input id="submitPreference" type="submit" value="Submit">
                    </form>
                </div>
            </div>
            <div id="modalProportion" class="modal">
                <div class="modal-content">
                    <span th:id="closeProportion" class="close">&times;</span>
                    <form>
                        <h3> Veuillez choisir le pourcentage de production de l'énergie </h3>
                        le pourcentage de l'énergie solaire <input type="number"  class="form-control" id="solarInput" onkeyup="myFunction();"
                           aria-describedby="solarHelp" placeholder="Saisir la valeur à simuler">% <br>
                        le pourcentage de l'énergie hydraulique <input type="number" class="form-control" id="hydraulicInput" onkeyup="myFunction2();"
                           aria-describedby="hydraulicHelp" placeholder="Saisir la valeur à simuler">% <br>
                        le pourcentage de l'énergie éolienne <input type="number" class="form-control" id="windInput" onkeyup="myFunction3();"
                           aria-describedby="windHelp" placeholder="Saisir la valeur à simuler">% <br>
                        <input id="submitProportion" type="submit" value="Submit">
                    </form>
                </div>
            </div>
            <h2 class="h1">Veuillez insérer la quantité d'énergie à produire en KW pour la simulation </h2>
            <br>
                <input type="number" class="form-control" id="simulationInput"
                    aria-describedby="simulationHelp" placeholder="Saisir la valeur à simuler"> <small
                id="simulationHelp" class="form-number number-muted">Merci d'écrire la valeur à simuler</small>
            <br>
            <button type="submit" id="submit" class="btn btn-primary">soumettre le choix</button>

            </div>
        </div>
    </div>

</div>
<div id="container"></div>
<div id="recommendations"></div>
<script src="https://code.highcharts.com/highcharts.js"></script>
<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.6.0/jquery.min.js"></script>
<script type="text/javascript" th:src="@{/js/submitChoice.js}"></script>
<script type="text/javascript" th:src="@{/js/preferenceSelector.js}"></script>
<script type="text/javascript" th:src="@{/js/proportionSelector.js}"></script>
</body>
</html>