<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head th:insert="fragments/fragments :: head"/>
<head>
    <title>MixEnergy</title>
</head>
<body>
<nav th:insert="fragments/fragments :: header_energy"></nav>
<div style="margin-top:10%;">
    <span th:text="${#dates.format(#dates.createNow(), 'HH:mm')}"></span>
    <span th:text="${#dates.format(#dates.createNow(), ' dd MMM yyyy')}"></span>
</div>

<div class="container special">
    <h2 class="h2">visualisation du mix énergétique en temps réel</h2>
    <div class="container special">
        <table class="table table-striped table-sm">
            <thead>
            <tr>
                <th>Le pourcentage d’énergie solaire </th>
                <th>Le pourcentage d’énergie éolienne </th>
                <th>Le pourcentage d’énergie hydraulique </th>
                <th>Le temps de production </th>
            </tr>
            </thead>
            <tbody>
            <tr th:each="mixEnergy : ${mixEnergy}">
                <td><span id="solar" th:text="${mixEnergy.solar_power}"> </span></td>
                <td><span id="wind"  th:text="${mixEnergy.wind_power}"> </span></td>
                <td><span id="hydraulic" th:text="${mixEnergy.hydraulic_power}">  </span></td>
                <td><span id="time" th:text="${mixEnergy.sampling_date}">  </span></td>
            </tr>
            </tbody>
        </table>
    </div>
</div>

<div class="container special">
    <h2 class="h2">visualisation du mix énergétique en temps réel</h2>
</div>
<div id="containerBar"></div>
<script src="https://code.highcharts.com/highcharts.js"></script>
<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.6.0/jquery.min.js"></script>
<script type="text/javascript" th:src="@{/js/mixEnergy.js}"></script>
</body>
</html>