<!DOCTYPE html>
<html lang="fr" xmlns="http://www.w3.org/1999/html">
<head th:insert="fragments/fragments :: head"/>
<head>
    <title>Accueil CHECKMATE</title>
</head>
<style>
    body {
        margin: 0;
        overflow: hidden;
    }
</style>
<body>

<div id="carouselExampleIndicators" class="carousel slide carousel-dark" data-bs-ride="carousel">
    <div class="carousel-indicators">
        <button type="button" data-bs-target="#carouselExampleIndicators" data-bs-slide-to="0" class="active"
                aria-current="true" aria-label="Slide 1"></button>
        <button type="button" data-bs-target="#carouselExampleIndicators" data-bs-slide-to="1"
                aria-label="Slide 2"></button>
    </div>
    <div class="carousel-inner">
        <div id="dwp" class="carousel-item active">
            <form class="col" method="post" th:action="@{/login}" th:object="${employee}">
                <section class="col vh-100 gradient-custom">
                    <div class="container py-5 h-100">
                        <div class="row d-flex justify-content-center align-items-center h-100">
                            <div class="col-12 col-md-8 col-lg-6 col-xl-5">
                                <div class="card bg-dark text-white" style="border-radius: 1rem;">
                                    <div class="card-body p-5 text-center">

                                        <div class="mb-md-5 mt-md-4 pb-5">

                                            <h2 class="fw-bold mb-2 text-uppercase">Espace DWP</h2>
                                            <p class="text-white-50 mb-5">Entrez votre adresse email.</p>

                                            <div class="form-outline form-white mb-4">
                                                <input type="email" id="typeEmailX" class="form-control form-control-lg"
                                                       th:field="*{email}" placeholder="Saisir l'email"/>
                                                <p id="errorDWP">
                                                <td th:text="${errorDWP} ? 'Saisie invalide, recommencez' : ''"/>
                                                </p>
                                            </div>

                                            <button class="btn btn-outline-light btn-lg px-5" type="submit">Se connecter
                                            </button>

                                            <div class="d-flex justify-content-center text-center mt-4 pt-1">
                                                <a href="#!" class="text-white"><i class="fab fa-facebook-f fa-lg"></i></a>
                                                <a href="#!" class="text-white"><i
                                                        class="fab fa-twitter fa-lg mx-4 px-2"></i></a>
                                                <a href="#!" class="text-white"><i class="fab fa-google fa-lg"></i></a>
                                            </div>

                                        </div>

                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </section>
            </form>
        </div>
        <!--Energy login-->
        <div id="energy" class="carousel-item">
            <form class="col" method="post" th:action="@{/energy/login}" th:object="${citizen}">
                <section class="vh-100 gradient-custom">
                    <div class="container py-5 h-100">
                        <div class="row d-flex justify-content-center align-items-center h-100">
                            <div class="col-12 col-md-8 col-lg-6 col-xl-5">
                                <div class="card bg-dark text-white" style="border-radius: 1rem;">
                                    <div class="card-body p-5 text-center">

                                        <div class="mb-md-5 mt-md-4 pb-5">

                                            <h2 class="fw-bold mb-2 text-uppercase">Espace Energie</h2>
                                            <p class="text-white-50 mb-5">Entrez votre adresse email.</p>

                                            <div class="form-outline form-white mb-4">
                                                <input type="email" id="typeEmail" class="form-control form-control-lg"
                                                       th:field="*{mail}" placeholder="Saisir l'email"/>
                                                <p id="error">
                                                <td th:text="${error} ? 'Saisie invalide, recommencez' : ''"/>
                                                </p>
                                            </div>

                                            <button class="btn btn-outline-light btn-lg px-5" type="submit">Se connecter
                                            </button>

                                            <div class="d-flex justify-content-center text-center mt-4 pt-1">
                                                <a href="#!" class="text-white"><i class="fab fa-facebook-f fa-lg"></i></a>
                                                <a href="#!" class="text-white"><i
                                                        class="fab fa-twitter fa-lg mx-4 px-2"></i></a>
                                                <a href="#!" class="text-white"><i class="fab fa-google fa-lg"></i></a>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </section>
            </form>
        </div>
    </div>
    <button class="carousel-control-prev" type="button" data-bs-target="#carouselExampleIndicators"
            data-bs-slide="prev">
        <span class="carousel-control-prev-icon" aria-hidden="true"></span>
        <span class="visually-hidden">Previous</span>
    </button>
    <button class="carousel-control-next" type="button" data-bs-target="#carouselExampleIndicators"
            data-bs-slide="next">
        <span class="carousel-control-next-icon" aria-hidden="true"></span>
        <span class="visually-hidden">Next</span>
    </button>
</div>

<script>
    let error = [[${error}]];
    let errorDWP = [[${errorDWP}]];
    if (error) {
        document.getElementById("dwp").classList.remove("active");
        document.getElementById("energy").classList.add("active");
    } else if (errorDWP) {
        document.getElementById("energy").classList.remove("active");
        document.getElementById("dwp").classList.add("active");
    }

</script>
</body>
</html>