<!DOCTYPE html>
<html lang="fr" xmlns:th="http://www.thymeleaf.org">
<head th:insert="fragments/fragments :: head"/>
<meta charset="UTF-8">
<link th:href="@{/styles/employeeInteractions.css}" rel="stylesheet"/>
<title>Liste des employés</title>
</head>
<body>
<nav th:insert="fragments/fragments :: header_dwp"></nav>
<div style="margin-left: 10%; margin-top: 5%;">
    Logged as: <p th:text="${session.loggedAs.name}"></p><br>
</div>
<span id="ownId" th:text="${session.loggedAs.id_employee}" style="visibility: hidden; display:none"></span>
<div style="max-width: 1300px" class="container special">
    <h2 class="h2">Liste des employés</h2>
    <input type="text" id="myInput" onkeyup="filter()" placeholder="Search for names..." title="Type in a name">
    <div class="table-responsive">
        <table class="table table-striped table-sm">
            <thead>
            <tr>
                <th>Nom</th>
                <th>Prénom</th>
                <th>Poste</th>
                <th>Email</th>
            </tr>
            </thead>

            <tbody>
            <tr style="height: 60px"class="employee" th:each="employee: ${employees}" th:if="${session.loggedAs.id_employee} != ${employee.id_employee}">
                <td><span class="name" th:text="${employee.name}"> Nom </span></td>
                <td><span class="firstName" th:text="${employee.firstName}"> Prénom </span></td>
                <td><span th:text="${employee.job}"> Poste </span></td>
                <td><span th:text="${employee.email}"> Email </span></td>
                <td style="width: 700px" th:id="${session.loggedAs.id_employee}+','+${employee.id_employee}">
                    <button class="messagebutton btn btn-info btn-sm" style="color: white"
                            th:onclick="'displayMessage(\''+${session.loggedAs.id_employee}+'\',\''+${employee.id_employee}+'\')'">Envoyer
                        un message
                    </button>
                    <button class="btn btn-danger btn-sm"  th:onclick="show([[${employee.id_employee}]],[[${employee.name}]],[[${employee.firstName}]])">Inviter à une réunion</button>
                    <button class="btn btn-info btn-sm" style="color: white">Consulter l'emploi du temps</button>
                    <button class="btn btn-danger btn-sm" style="color: white">Voir consommation</button>
                </td>
            </tr>
            </tbody>
        </table>
    </div>
</div>

<div id="popup">
    <form id="form">
        <button type="button" id="close" onclick="hide()">X</button>
        <br>
        <p1 id="invitedName"></p1>
        <br>
        <label class="dropdown">

            <div class="dd-button">
                Dropdown
            </div>

            <input type="checkbox" class="dd-input" id="test">

            <ul id="meetingList" class="dd-menu">

            </ul>

        </label>
    </form>
</div>

<div id="messageContainer" style="visibility: hidden;">

</div>
<input id="textInput" type="text" placeholder="Saisissez votre message..." style="visibility: hidden;">

<script th:inline="javascript" th:src="@{/js/employeeInteractions.js}"></script>
</body>
</html>