<!DOCTYPE html>
<html lang="fr" xmlns:th="http://www.thymeleaf.org">
<head th:insert="fragments/fragments :: head"/>
<meta charset="UTF-8">
<link th:href="@{/styles/employeeInteractions.css}" rel="stylesheet"/>
<title>Liste des employés</title>
</head>
<body>
<nav th:insert="fragments/fragments :: header_dwp"></nav>
<div style="margin-left: 10%; margin-top: 5%;">
    <span>Logged as: </span><span id="name" th:text="${session.loggedAs.name}"></span><br>
</div>
<input style="margin-left:13%; margin-bottom: 1%; margin-top: 1%;" type="checkbox" id="old" onchange="filter()">
<label for="old">Réunions passées</label>
<!-- affichage sous forme de liste simple
<div style="max-width: 1300px" class="container special">
    <h2 class="h2">Liste de vos réunions</h2>

    <div class="table-responsive">
        <table class="table table-striped table-sm">
            <thead>
            <tr>
                <th>Salle</th>
                <th>Date</th>
                <th>Durée</th>
                <th>Organisateur</th>
                <th>Participants</th>
            </tr>
            </thead>

            <tbody>
            <tr >
            <tr style="height: 60px"class="meeting" th:each="meeting: ${meetings}">
                <td><span class="room" th:text="'Salle de réunion n°' +${meeting.id_spacepk}"> Salle </span></td>
                <td><span class="begin" th:text="${meeting.date}"> Date </span></td>
                <td style="visibility: hidden; display:none"><span class="end" th:text="${meeting.end_date}"> Fin </span></td>
                <td style="visibility: hidden; display:none"><span class="id_employee" th:text="${meeting.id_employee}"> Employé </span></td>
                <td style="visibility: hidden; display:none"><span class="id_reservation" th:text="${meeting.id_reservation}"> Réservation </span></td>
                <td><span class="length"> Durée </span></td>
                <td><span class="employee"> Organisateur </span></td>
                <td><span class="participants"> Participants </span></td>
            </tr>
            </tbody>
        </table>
    </div>
</div> -->

<div style="margin-bottom: 50px" class="w-75 my-4 m-auto" th:each="meeting: ${meetings}">
    <div class="card  border-primary">
        <div class="card-header bg-primary text-white" th:text="'Salle de réunion n°' +${meeting.id_spacepk}"></div>
        <div class="card-body">
            <h4 class="card-title" th:text="${meeting.date}"></h4>
            <span class="subject"></span>
            <p class="card-text">Blabla</p>
            <span class="length"> Durée </span><br>
            <span class="employee"> Organisateur </span>
            <span style="visibility: hidden; display:none" class="end" th:text="${meeting.end_date}"> Fin </span>
            <span style="visibility: hidden; display:none" class="id_employee" th:text="${meeting.id_employee}"> Employé </span>
            <span style="visibility: hidden; display:none" class="id_reservation" th:text="${meeting.id_reservation}"> Réservation </span>
        </div>
        <ul class="list-group list-group-flush">
        </ul>
        <div class="card-body">
            <a href="#" class="btn btn-primary">Visualiser sur le plan</a>
        </div>
    </div>
</div>
</div><!-- /.container -->

<script>
    function setRedirect(i){
        $.ajax({
            type: "GET",
            url: "http://172.31.249.232:8080/reservation/getSpaceFloor/"+meetings[i].getElementsByClassName("card-header bg-primary text-white")[0].innerHTML.split('°')[1],
            success: function (r) {
                meetings[i].getElementsByClassName("btn btn-primary")[0].setAttribute("href","http://172.31.249.76:9001/map?building=1&floor="+r);
            }
        });
    }
    filter();
    var name = document.getElementById("name").innerHTML;
    var meetings = document.getElementsByClassName("w-75 my-4 m-auto");
    init();
    async function init(){
        for(i = 0; i < meetings.length; i++) {
            m = meetings[i];
            y=new Date(m.getElementsByClassName("end")[0].innerHTML.replace(/-/g, "/"));
            x=new Date(m.getElementsByClassName("card-title")[0].innerHTML.replace(/-/g, "/"));
            length = Math.abs(y.getTime() - x.getTime());
            var hours = Math.floor(length / 3600000);
            var minutes = Math.floor((length % 3600000) / 60000);
            m.getElementsByClassName("length")[0].innerHTML = "Durée:" + ("00" + hours).slice(-2) + "h" + ("00" + minutes).slice(-2);
            await fill(i);
            await setRedirect(i)
        }
    }

    async function fill(i){
        $.ajax({
            type: "GET",
            url: "http://172.31.249.232:8080/reservation/reservationAuthor/"+meetings[i].getElementsByClassName("id_employee")[0].innerHTML,
            success: function (r) {
                if(r.split(" ")[1]==name){
                    container = meetings[i].getElementsByClassName("subject")[0];
                    meetings[i].getElementsByClassName("employee")[0].innerHTML = "Organisateur: Vous";
                    input = document.createElement("input");
                    input.setAttribute("style","width=200px;")
                    input.setAttribute("placeholder","Sujet de la réunion");
                    input.setAttribute("id",i+"|"+meetings[i].getElementsByClassName("id_reservation")[0].innerHTML);
                    input.setAttribute("type","text");
                    input.addEventListener("keyup", function (event) {
                        if (event.key === 'Enter') {
                            subjectUpdate(this.id.split('|')[0],this.value,this.id.split('|')[1]);
                            this.value="";
                        }
                    });
                    container.appendChild(input);
                }else{
                    meetings[i].getElementsByClassName("employee")[0].innerHTML = "Organisateur:" + r;
                }
            }
        });
        $.ajax({
            type: "GET",
            url: "http://172.31.249.232:8080/reservation/getMeetingSubject/"+meetings[i].getElementsByClassName("id_reservation")[0].innerHTML,
            success: function (r) {
                meetings[i].getElementsByClassName("card-text")[0].innerHTML = r;
            }
        });
        $.ajax({
            type: "GET",
            url: "http://172.31.249.232:8080/user/meetingParticipants/"+meetings[i].getElementsByClassName("id_reservation")[0].innerHTML,
            success: function (r) {
                ul = meetings[i].getElementsByClassName("list-group list-group-flush")[0];
                for(i = 0; i < r.length; i++) {
                    li = document.createElement("li");
                    li.setAttribute("class","list-group-item");
                    li.innerHTML=r[i].firstName + " " + r[i].name + " ("+r[i].job+")";
                    ul.appendChild(li);
                }
            }
        });
        return;
    }
    function subjectUpdate(i,text,id){
        var info = {
            subject: text,
            reservation: id,
        };
        $.ajax({
            type: "POST",
            url: "http://172.31.249.232:8080/reservation/subjectUpdate",
            dataType: 'json',
            data: JSON.stringify(info),
            contentType: "application/json; charset=utf-8",
            success: function (data) {
                meetings[i].getElementsByClassName("card-text")[0].innerHTML=text;
            }
        });
    }
    function filter() {
        checked = document.getElementById("old").checked;
        meeting = document.getElementsByClassName("w-75 my-4 m-auto");
        for (i = 0; i < meeting.length; i++) {
            enddate = meeting[i].getElementsByClassName("card-title")[0].innerHTML;
            if(checked) {
                if (new Date() > new Date(enddate.replace(/-/g, "/"))) {
                    meeting[i].style.display = "";
                } else {
                    meeting[i].style.display = "none";
                }
            } else {
                if (new Date() < new Date(enddate.replace(/-/g, "/"))) {
                    meeting[i].style.display = "";
                } else {
                    meeting[i].style.display = "none";
                }
            }
        }
    }
</script>
</body>
</html>