<!DOCTYPE html>
<html lang="fr" xmlns:th="http://www.thymeleaf.org">
<head th:insert="fragments/fragments :: head"/>
<meta charset="UTF-8">
<link th:href="@{/styles/employeeInteractions.css}" rel="stylesheet"/>
<title>Liste des employés</title>
</head>
<body>
<nav th:insert="fragments/fragments :: header_dwp"></nav>
<div style="margin-left: 10%; margin-top: 5%;">
    Logged as: <p th:text="${session.loggedAs.name}"></p><br>
</div>
<div style="max-width: 1300px" class="container special">
    <h2 class="h2">Liste de vos réservations</h2>
    <input type="checkbox" id="old" onchange="filter()">
    <label for="old">Réservations passées</label>
    <div class="table-responsive">
        <table class="table table-striped table-sm">
            <thead>
            <tr>
                <th>Numéro</th>
                <th>Début</th>
                <th>Fin</th>
            </tr>
            </thead>

            <tbody>
            <tr >
            <tr style="height: 60px"class="reservation" th:each="index : ${#numbers.sequence( 0, #arrays.length(reservations)-1)}">
                <td><span class="room" th:text="${reservedSpaces[index].type}+ ' n°' +${reservations[index].id_spacepk}"> Salle </span></td>
                <td><span class="begin" th:text="${reservations[index].date}"> Début </span></td>
                <td><span class="end" th:text="${reservations[index].end_date}"> Fin </span></td>
            </tr>
            </tbody>
        </table>
    </div>
</div>

</div>

<script>
    filter();
    function filter() {
        checked = document.getElementById("old").checked;
        reservation = document.getElementsByClassName("reservation");
        for (i = 0; i < reservation.length; i++) {
            enddate = reservation[i].getElementsByClassName("end")[0].innerHTML;
            if(checked) {
                if (new Date() > new Date(enddate.replace(/-/g, "/"))) {
                    reservation[i].style.display = "";
                } else {
                    reservation[i].style.display = "none";
                }
            } else {
                if (new Date() < new Date(enddate.replace(/-/g, "/"))) {
                    reservation[i].style.display = "";
                } else {
                    reservation[i].style.display = "none";
                }
            }
        }
    }
</script>
</body>
</html>