<!DOCTYPE html>
<html lang="fr" xmlns:th="http://www.thymeleaf.org">
<head th:insert="fragments/fragments :: head"/>
<link th:href="@{/styles/meeting.css}" rel="stylesheet"/>
<title>Liste des employés</title>
</head>
<body>
<nav th:insert="fragments/fragments :: header_dwp"></nav>
<div style="margin-left: 10%; margin-top: 5%;">
    Nom: <p id="name" th:text="${session.loggedAs.name}" style="display:inline-block"></p><br>
    Poste: <p id="job" th:text="${session.loggedAs.job}" style="display:inline-block"></p><br>
    Numéro d'entreprise: <p id="company" th:text="${session.loggedAs.id_company}" style="display:inline-block"></p>
</div>

<form th:action="@{/createReservation/{id}(id=${session.loggedAs.id_employee})}" method="post" th:object="${reservation}">

    <hr>

    <div class="elem-group inlined">
        <label for="checkin-date">Date début</label>
        <input type="date" id="checkin-date" onkeydown="return false"  name="checkin" required>
    </div>

    <div class="elem-group inlined">
        <label for="checkin-date">Heure début</label>
        <input type="time" id="begin" name="checkin" required>
    </div>
    <input th:field="*{date}" type="text" id="rDate" style="visibility: hidden; display:none">
    <div class="elem-group inlined">
        <label for="checkout-date">Date fin</label>
        <input type="date" id="checkout-date" onkeydown="return false"  name="checkout" required>
    </div>

    <div class="elem-group inlined">
        <label for="checkin-date">Heure fin</label>
        <input type="time" id="end" name="checkin" required>
    </div>
    <input th:field="*{end_date}" type="text" id="rEnd" style="visibility: hidden; display:none">
    <div class="elem-group">
        <label for="building-selection">Précisez le bâtiment souhaité</label>
        <select id="building-selection" name="building_preference">
            <option value="" disabled selected>Sélection du bâtiment</option>
        </select>
    </div>

    <div class="elem-group">
        <label for="floor-selection">Précisez l'étage souhaité</label>
        <select id="floor-selection" name="floor_preference">
            <option value="" disabled selected>Sélection de l'étage</option>
        </select>
    </div>
    <hr>

    <div class="elem-group">
        <label for="room-selection">Sélectionnez une salle</label>
        <select th:field="*{id_spacepk}" id="room-selection" name="room_preference" required>
            <option value="" disabled selected>Sélection de l'étage</option>
        </select>
    </div>

    <button type="submit">Confirmer la réservation</button>
</form>

<script th:inline="javascript" th:src="@{/js/meeting.js}"></script>
</body>
</html>