<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhml"
      xmlns:th="http://www.thymeleaf.org">
<head th:insert="fragments/fragments :: head"/>
<head>
    <title>Informations énergetiques du quartier</title>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <script src="http://code.jquery.com/jquery-1.11.1.min.js"></script>
    <script src="http://code.jquery.com/ui/1.11.1/jquery-ui.min.js"></script>
</head>
<body>
<nav th:insert="fragments/fragments :: header_energy"></nav>
<div class="container special">
    <h2 id="districtTitle" class="h2" th:text="${district.id_district}"></h2>
    <div class="container special">
        <table class="table table-striped table-sm">
            <thead>
            <tr>
                <th>Consommation Electrique instantanée (kW)</th>
                <th>Production Electrique instantanée (kW)</th>
                <th>Date de prélèvement</th>
                <th>Différence à produire (kW)</th>
            </tr>
            </thead>
            <tbody>
            <tr>
                    <td><span id="consumptionDistrict" th:text="${district.consumption}" name="${district.consumption}"></span></td>
                <td><span id="productionDistrict" th:text="${district.production}" name="${district.production}"></span></td>
                <td><span id="samplingDate" th:text="${district.sampling_date}"></span></td>
                <td><span id="difference" th:text="${district.consumption}-${district.production}">Différence à produire (kW)</span>
                </td>
            </tr>

            </tbody>
        </table>
    </div>
</div>

<script type="text/javascript" th:src="@{/js/getAndPostEnergy.js}"></script>

</body>
</html>
