<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhml"
      xmlns:th="http://www.thymeleaf.org">
<head th:insert="fragments/fragments :: head"/>

<title>Menu Energy</title>

</head>
<body>
<nav th:insert="fragments/fragments :: header_energy"></nav>
<div class="container" style="margin-top: 5%;">
    <div class="row">
        <div class="col-md-3 col-sm-3 col-lg-3 bg-info text-center border">
            <p>
                Quartier 1<br/>
                <a th:href="@{/districtEnergy/1}"><img src="pictures/district.png" alt="Icone du quartier"
                                                title="Cliquez pour accéder aux données du quartier 1"/></a>
            </p>
            <p>
                Quartier 2<br/>
                <a th:href="@{/districtEnergy/2}"><img src="pictures/district.png" alt="Icone du quartier"
                                                title="Cliquez pour accéder aux données du quartier 2"/></a>
            </p>
            <p>
                Quartier 3<br/>
                <a th:href="@{/districtEnergy/3}"><img src="pictures/district.png" alt="Icone du quartier"
                                                title="Cliquez pour accéder aux données du quartier 3"/></a>
            </p>
            <p>
                Quartier 4<br/>
                <a th:href="@{/districtEnergy/4}"><img src="pictures/district.png" alt="Icone du quartier"
                                                title="Cliquez pour accéder aux données du quartier 4"/></a>
            </p>
            <p>
                Quartier 5<br/>
                <a th:href="@{/districtEnergy/5}"><img src="pictures/district.png" alt="Icone du quartier"
                                                title="Cliquez pour accéder aux données du quartier 5"/></a>
            </p>
        </div>
        <div class="col-md-3 col-sm-3 col-lg-3 bg-info text-center border">
            <p>
                Quartier 6<br/>
                <a th:href="@{/districtEnergy/6}"><img src="pictures/district.png" alt="Icone du quartier"
                                                title="Cliquez pour accéder aux données du quartier 6"/></a>
            </p>
            <p>
                Quartier 7<br/>
                <a th:href="@{/districtEnergy/7}"><img src="pictures/district.png" alt="Icone du quartier"
                                                title="Cliquez pour accéder aux données du quartier 7"/></a>
            </p>
            <p>
                Quartier 8<br/>
                <a th:href="@{/districtEnergy/8}"><img src="pictures/district.png" alt="Icone du quartier"
                                                title="Cliquez pour accéder aux données du quartier 8"/></a>
            </p>
            <p>
                Quartier 9<br/>
                <a th:href="@{/districtEnergy/9}"><img src="pictures/district.png" alt="Icone du quartier"
                                                title="Cliquez pour accéder aux données du quartier 9"/></a>
            </p>
            <p>
                Quartier 10<br/>
                <a th:href="@{/districtEnergy/10}"><img src="pictures/district.png" alt="Icone du quartier"
                                                 title="Cliquez pour accéder aux données du quartier 10"/></a>
            </p>
            <p>
                Quartier d'affaire<br/>
                <a th:href="@{/districtEnergy/11}"><img src="pictures/businessdistrict.png" alt="Icone du quartier"
                                                 title="Cliquez pour accéder aux données du quartier d'affaire"/></a>
            </p>
        </div>
        <div class="col-md-3 col-sm-3 col-lg-3 bg-success text-center border">
            <p>
                Données de la SmartGrid<br/>
                <a href="/smartgrid"><img class="center-block" src="pictures/smartgrid.png" alt="Icone de la SmartGrid"
                                          title="Cliquez pour accéder aux données de la SmartGrid"/></a>
            </p>

        </div>
        <div class="col-md-3 col-sm-3 col-lg-3 bg-primary text-center border">
            <p>
                Données des sites à energie solaire<br/>
                <a href="/prodsolar"><img class="center-block" src="pictures/solar.png"
                                          alt="Icone des sites de production électrique d'origine solaire"
                                          title="Cliquez pour accéder aux données du site de production"/></a>
            </p>
            <p>
                Données des sites à energie fossile<br/>
                <a href="/prodnuclear"><img class="center-block" src="pictures/nuclear.png"
                                            alt="Icone des sites de production électrique d'origine fossile"
                                            title="Cliquez pour accéder aux données du site de production"/></a>
            </p>
            <p>
                Données des sites à energie éolienne<br/>
                <a href="/prodwind"><img class="center-block" src="pictures/windturbine.png"
                                         alt="Icone des sites de production électrique d'origine éolienne"
                                         title="Cliquez pour accéder aux données du site de production"/></a>
            </p>
            <p>
                Données des sites à energie hydraulique<br/>
                <a href="/prodhydraulic"><img class="center-block" src="pictures/hydraulic.png"
                                              alt="Icone des sites de production électrique d'origine hydraulique"
                                              title="Cliquez pour accéder aux données du site de production"/></a>
            </p>
        </div>
    </div>
</div>
</body>
</html>