<!DOCTYPE html>
<html>
<head th:insert="fragments/fragments :: head"/>

<title>SmartGrid</title>

<style>
    body {
        padding-top: 50px;
    }

    .special {
        padding-top: 50px;
    }


</style>
</head>
<body>
<nav th:insert="fragments/fragments :: header_energy"></nav>
<div class="container special">
    <h2 class="h2">Table énergétique</h2>
    <div class="table-responsive">
        <table class="table table-striped table-sm">
            <thead>
            <tr>
                <th>Choix n°1</th>
                <th>Choix n°2</th>
                <th>Choix n°3</th>
            </tr>
            <tr>
                <td><span th:text="${result1}"></span></td>
                <td><span th:text="${result2}"></span></td>
                <td><span th:text="${result3}"></span></td>
            </tr>
            </thead>
        </table>
    </div>

</div>


</body>
</html>
