<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhml"
      xmlns:th="http://www.thymeleaf.org">

<head th:insert="fragments/fragments :: head"/>

<title>Solar Information</title>

<style>
    body {
        padding-top: 50px;
    }

    .special {
        padding-top: 50px;
    }
</style>
</head>
<body>

<nav class="navbar navbar-inverse navbar-fixed-top">
    <div class="container">
        <div class="navbar-header_dwp">
            <a class="navbar-brand" href="/">Système de gestion des clients</a>
        </div>
    </div>
</nav>


<div class="container special">
    <h2 class="h2">Liste des clients</h2>
    <div class="table-responsive">
        <table class="table table-striped table-sm">
            <thead>
            <tr>
                <th>origin</th>
                <th>quantity</th>
                <th>green_energy</th>
            </tr>
            </thead>
            <tbody>

            <tr th:each="client: ${clients}">
                <td><span th:text="${client.firstName}"> Prénom </span></td>
                <td><span th:text="${client.name}"> Nom </span></td>
                <td><span th:text="${client.age}"> Age </span></td>
                <td>
                    <a th:href="@{/update/{id}(id=${client.id})}">
                        <button class="btn btn-info">Modifier</button>
                    </a>
                    <a th:href="@{/deletebyid/{id}(id=${client.id})}">
                        <button class="btn btn-danger">Supprimer</button>
                    </a>
                </td>
            </tr>
            </tbody>
        </table>
    </div>

</div>


</body>
</html>
</title>
</head>
<body>

</body>
</html>