<!DOCTYPE html>
<html lang="en">
<head th:insert="fragments/fragments :: head"/>
<head>
    <link rel="stylesheet"
          href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css"
          integrity="sha384-BVYiiSIFeK1dGmJRAkycuHAHRg32OmUcww7on3RYdg4Va+PmSTsz/K68vbdEjh4u"
          crossorigin="anonymous">

    <link rel="stylesheet"
          href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap-theme.min.css"
          integrity="sha384-rHyoN1iRsVXV4nD0JutlnGaslCJuC7uwjduW9SVrLvRYooPp2bWYgmgJQIXwl/Sp"
          crossorigin="anonymous">
    <meta charset="UTF-8">
    <title>Maison</title>
</head>
<body>
<nav th:insert="fragments/fragments :: header_energy"></nav>
<tbody>
<tr style="height: 60px"class="employee" th:each="room: ${Rooms}">
    <td><span class="name" th:text="${room.type}"> Nom </span></td>
    <td><span class="firstName" th:text="${room.type_equipment}"> Prénom </span></td>
    <td><a th:href="${room.type_equipment}+'/' + ${room.id_equipment}"><input type=button th:text="${room.type_equipment}"></input></a><br></td>
</tr>
</tbody>

</body>
</html>