<!DOCTYPE html>
<html lang="fr" xmlns="http://www.w3.org/1999/html">
<head th:insert="fragments/fragments :: head"/>
<head>
    <link rel="stylesheet" th:href="@{/styles/choose.css}">
    <title>Guider l'usager</title>
</head>
<body>
<nav th:insert="fragments/fragments :: header_dwp"></nav>

<h4 class="h4" style="margin-top: 8%;text-align: center;">Guidage dans les étages</h4>

<div class="container text-center mag-t">
    <form method="get" th:action="@{/guidemap}">
        <div class="dropdown1">
            Veuillez sélectionner votre bâtiment : <br/>
            <div class="dropdown dropdown-menu-center">
                <select id="buildings" class="btn btn-dark btn-lg dropdown-toggle" name="building" required>
                    <option value="" selected>Sélectionnez le bâtiment</option>
                    <th:block th:each="building : ${buildings}">
                        <option th:value="${building.id_building}">
                            <span th:text="${building.building_name}"></span>
                        </option>
                    </th:block>
                </select>
            </div>
        </div>
        <div class="dropdown2">
            Veuillez sélectionner votre étage :
            <div class="dropdown dropdown-menu-center">
                <select class="btn btn-dark btn-lg dropdown-toggle" name="floor" id="floors" required>
                </select>
            </div>
        </div>
        <button id="visualize" type="submit" class="btn btn-lg btn-light mag-tb">Visualisation du plan</button>
        <div class="mag-tb"></div>
    </form>
</div>
<script type="text/javascript" th:src="@{/js/getFloors.js}"></script>
</body>
</html>
</body>
</html>