<!DOCTYPE html>
<html lang="fr" xmlns="http://www.w3.org/1999/html" xmlns:th="http://www.w3.org/1999/html">
<head th:insert="fragments/fragments :: head"/>
<link rel="stylesheet" th:href="@{/styles/map.css}">
<script src="//cdn.jsdelivr.net/npm/sweetalert2@11"></script>
<title>Visualisation du plan</title>
<style>

    div[id^='cross']:after {
        position: relative;
        top: 0;
        bottom: 0;
        left: 0;
        right: 0;
        content: "\274c";
        font-size: 40px;
        color: #FFF;
        line-height: 80px;
        text-align: center;
        z-index: 10;
    }


    /* Slideshow container */
    .slideshow-container {
        position: relative;
    }

    /* Slides */
    .mySlides {
        display: none;
        padding: 80px;
        text-align: center;
        font-size: 25px;
    }

    /* Next & previous buttons */
    .prev, .next {
        cursor: pointer;
        position: absolute;
        top: 50%;
        width: auto;
        margin-top: -30px;
        padding: 16px;
        color: #888;
        font-weight: bold;
        font-size: 20px;
        border-radius: 0 3px 3px 0;
        user-select: none;
    }

    /* Position the "next button" to the right */
    .next {
        position: absolute;
        right: 0;
        border-radius: 3px 0 0 3px;
    }

    /* On hover, add a black background color with a little bit see-through */
    .prev:hover, .next:hover {
        background-color: rgba(0, 0, 0, 0.8);
        color: white;
    }

</style>
</head>
<body>
<div th:insert="fragments/fragments :: header_dwp"></div>

<h4 class="h4" style="margin-top: 6%;text-align: center;">Carte de l'étage <span th:text="${floor_number}"></span></h4>


<div style="margin-top: 2.5%;" class="d-flex justify-content-center container h-100">
    <div class="row">
        <div class="col-12">
            <button type="button" id="reset" class="btn btn-warning btn-md">Réinitialiser</button>
            <button type="button" id="start" class="btn btn-dark btn-md">Choisir départ</button>
            <button type="button" id="stop" class="btn btn-dark btn-md">Choisir arrivée</button>
            <button id="guide" type="button" class="btn btn-success btn-md">Guidage</button>
        </div>
    </div>
</div>

<div th:insert="fragments/map :: map"></div>


<script th:inline="javascript">
    let id_building = [[${id_building}]];
    let id_floor = [[${id_floor}]];
    let id_nw = [[${AreaNW}]];
    let id_ne = [[${AreaNE}]];
    let id_sw = [[${AreaSW}]];
    let id_se = [[${AreaSE}]]
    let json = {
        "id_building": id_building,
        "id_floor": id_floor,
        "id_nw": id_nw[0].id_area,
        "id_ne": id_ne[0].id_area,
        "id_sw": id_sw[0].id_area,
        "id_se": id_se[0].id_area
    }
    console.log(json);

    let start = document.getElementById("start");
    let stop = document.getElementById("stop");
    let button = document.getElementById("guide");
    let resetButton = document.getElementById("reset");
    let startIdSpace;
    let stopIdSpace;
    let go = true;

    let startSelection = false;
    let stopSelection = false;
    start.addEventListener('click', function () {
        startSelection = true;
        console.log("On choisi l'espace de départ");
    });

    stop.addEventListener('click', function () {
        stopSelection = true;
        console.log("On choisi l'espace d'arrivée");
    });

    resetButton.addEventListener('click', function () {
        reset([[${spacesN}]]);
        reset([[${spacesS}]]);
    });

    function reset(list) {
        startSelection = false;
        stopSelection = false;
        go = true;
        let startSpace;
        let stopSpace;
        let n = list.length;
        for (let i = 0; i < n; i++) {
            if (list[i].id_space === startIdSpace) {
                startSpace = document.getElementById("myBtn" + list[i].id_space);
                startSpace.removeAttribute("class");
                startSpace.setAttribute("class", "btn btn-dark btn-sm");
            } else if (list[i].id_space === stopIdSpace) {
                stopSpace = document.getElementById("myBtn" + list[i].id_space);
                stopSpace.removeAttribute("class");
                stopSpace.setAttribute("class", "btn btn-dark btn-sm");
            }
        }
        try {
            let crosses = document.querySelectorAll('[id^=\'cross\']');
            for (const crossesKey in crosses) {
                if (crosses[crossesKey] !== null) {
                    console.log(crosses[crossesKey])
                    crosses[crossesKey].setAttribute("id", "");
                }
            }
        } catch (error) {
            for (let i = 0; i < n; i++) {
                if (list[i].id_space === startIdSpace) {
                    startSpace = document.getElementById("myBtn" + list[i].id_space);
                    startSpace.removeAttribute("class");
                    startSpace.setAttribute("class", "btn btn-dark btn-sm");
                } else if (list[i].id_space === stopIdSpace) {
                    stopSpace = document.getElementById("myBtn" + list[i].id_space);
                    stopSpace.removeAttribute("class");
                    stopSpace.setAttribute("class", "btn btn-dark btn-sm");
                }
            }
            console.log(error);
        }

    }

    modal([[${spacesN}]]);
    modal([[${spacesS}]]);

    function modal(list) {
        let n = list.length;
        let btn = new Array(n);
        for (let i = 0; i < n; i++) {
            console.log("ID SPACE" + list[i].id_space + " at position : " + list[i].position_in_area);
            btn[i] = document.getElementById("myBtn" + list[i].id_space);
            btn[i].onclick = function () {
                if (stopSelection && go) {
                    stopIdSpace = list[i].id_space;
                }
                if (startSelection && go) {
                    startIdSpace = list[i].id_space;
                    console.log("Espace de départ : " + startIdSpace);
                    alertMessage = 'Espace de départ sélectionné : ' + startIdSpace;
                    console.log(alertMessage);
                    Swal.fire({
                        position: 'center',
                        icon: 'success',
                        title: alertMessage,
                        showConfirmButton: true,
                        confirmButtonText:
                            '<a id="buttonOK" style="text-decoration:none; color: white">OK</a>'
                    })
                    startSelection = false;
                    btn[i].removeAttribute("class");
                    btn[i].setAttribute("class", "btn btn-success btn-sm");
                } else if (stopSelection && go && stopIdSpace !== startIdSpace) {
                    console.log("Espace d'arrivée : " + stopIdSpace);
                    alertMessage = 'Espace d\'arrivée sélectionné : ' + stopIdSpace;
                    console.log(alertMessage);
                    Swal.fire({
                        position: 'center',
                        icon: 'success',
                        title: alertMessage,
                        showConfirmButton: true,
                        confirmButtonText:
                            '<a id="buttonOK" style="text-decoration:none; color: white">OK</a>'
                    })
                    go = false;
                    btn[i].removeAttribute("class");
                    btn[i].setAttribute("class", "btn btn-success btn-sm");
                } else if (stopSelection && go && stopIdSpace === startIdSpace) {
                    stopIdSpace = 0;
                    Swal.fire({
                        position: 'center',
                        icon: 'error',
                        title: 'Veuillez sélectionnez un autre espace que l\'espace de départ',
                        showConfirmButton: true,
                        confirmButtonText:
                            '<a id="buttonOK" style="text-decoration:none; color: white">OK</a>'
                    })
                }
            }
        }
    }

    button.addEventListener('click', function () {
        let url = 'http://172.31.249.232:8080/map/guide/submit/' + startIdSpace + '/' + stopIdSpace;
        $.ajax({
            url: url,
            type: 'POST',
            data: json,
            dataType: "json",
            success: function (answer) {
                console.log(answer);
                for (let i = answer.length - 1; i >= 0; i--) {
                    let rowElement = answer[i].row;
                    let column = answer[i].column;
                    let listRow = document.querySelectorAll('[row]');
                    for (let j = 0; j < listRow.length; j++) {
                        let string = listRow[j].outerHTML;
                        if (string.includes("row=\"" + rowElement + "\"") && string.includes("col=\"" + column + "\"")) {
                            console.log(listRow[j]);
                            var element = listRow[j];
                            element.setAttribute("style", "")
                            element.setAttribute("id", "cross" + j);
                        }
                    }
                }
                let alertMessage = 'Veuillez suivre le chemin indiqué.';
                console.log(alertMessage);
                Swal.fire({
                    position: 'center',
                    icon: 'success',
                    title: alertMessage,
                    showConfirmButton: true,
                    confirmButtonText:
                        '<a id="buttonOK" style="text-decoration:none; color: white">OK</a>'
                })
            }
        });
    });
</script>
</body>
</html>