<!DOCTYPE html SYSTEM "http://www.thymeleaf.org/dtd/xhtml1-strict-thymeleaf-4.dtd">
<html xmlns:th="http://www.thymeleaf.org">
<head th:insert="fragments/fragments :: head"/>
<head>
    <title>Analyse</title>
    <script type="text/javascript" src="https://www.gstatic.com/charts/loader.js"></script>
    <script type="text/javascript" src="https://cdnjs.cloudflare.com/ajax/libs/echarts/5.3.2/echarts.min.js"></script>
    <style>
        .statistic-card {
            height: 100px;
            width: 150px;
            border-radius: 15px;
            border: 1px solid #ccc;
            display:grid;
            grid-template-rows: 2fr 1fr;
        }

        .statistic-title {
            text-align: center;

        }

        .statistic-value {
            font-size: 30px;
            text-align: center;

        }
    </style>
</head>
<body>
<nav th:insert="fragments/fragments :: header_energy"></nav>

<div class="container" align="center" style="width: 100%;margin-top: 10%;">

    <h2>Tableau de bord</h2>
    <!--  <div id="gauge_div" style="width: 500px; height:350px;"></div>-->
    <div class="d-flex align-content-between row">

        <div class="p-1 statistic-card" th:each="stat: ${statistics}"
             th:classappend="${stat.id >9} ? 'col-6' : 'col-3'">
            <div class="statistic-value justify-content-center align-items-center"><span th:text="${stat.value}"></span></div>
            <div class="statistic-title"><span th:text="${stat.title}"></span></div>
        </div>


    </div>

    <div id="consumptionPerDistrict_div" style="width: 800px; height:500px;"></div>
</div>

<script th:inline="javascript">
    const prod_cons_data = [[${productionAndConsumptionPerDistrict}]];


    $(document).ready(function () {

        //graph
        let consData = [], prodData = [], districts = [], efficiency = [];
        prod_cons_data.forEach(d => prodData.push(d.value1))
        prod_cons_data.forEach(d => consData.push(d.value2))
        prod_cons_data.forEach(d => efficiency.push(d.ratio))
        prod_cons_data.forEach(d => districts.push(d.title))

        console.log(prodData);
        console.log(consData);
        console.log(efficiency);
        console.log(districts);
        let tmp_max = Math.max(...prodData.concat(consData));
        let tmp_min = Math.min(...prodData.concat(consData));
        let mx = tmp_max + (tmp_max * 0.1);
        let mn = tmp_min - (tmp_min * 0.1);


        // Initialize the echarts instance based on the prepared dom
        var myChart = echarts.init(document.getElementById('consumptionPerDistrict_div'));
        const colors = ['#54c667', '#be1a52', '#6686ee'];
        option = {
            tooltip: {
                trigger: 'axis',
                axisPointer: {
                    type: 'cross',
                    crossStyle: {
                        color: '#999'
                    }
                }
            },
            toolbox: {
                feature: {
                    dataView: {show: true, readOnly: false},
                    magicType: {show: true, type: ['line', 'bar']},
                    restore: {show: true},
                    saveAsImage: {show: true}
                }
            },
            legend: {
                data: ['Production', 'Consommation', 'Efficacité']
            },
            xAxis: [
                {
                    type: 'category',
                    data: districts,
                    axisPointer: {
                        type: 'shadow'
                    }
                }
            ],
            dataZoom: [
                {
                    show: true,
                    start: 94,
                    end: 100
                },
                {
                    type: 'inside',
                    start: 94,
                    end: 100
                }
            ],
            yAxis: [
                {
                    type: 'value',
                    name: 'Energy',
                    min: mn,
                    max: mx,
                    splitNumber: 10,
                    axisLabel: {
                        formatter: '{value} KWH',
                        margin: 20,
                        width: 50,
                        overflow: "truncate"
                    }
                },
                {
                    type: 'value',
                    name: 'Percent',
                    min: 0,
                    max: 200,
                    splitNumber: 10,
                    axisLabel: {
                        formatter: '{value} %'
                    }
                }
            ],
            series: [
                {
                    name: 'Production',
                    type: 'bar',
                    tooltip: {
                        valueFormatter: function (value) {
                            return value + ' KWH';
                        }
                    },
                    data: prodData
                },
                {
                    name: 'Consommation',
                    type: 'bar',
                    tooltip: {
                        valueFormatter: function (value) {
                            return value + ' KWH';
                        }
                    },
                    data: consData
                },
                {
                    name: 'Efficacité',
                    type: 'line',
                    yAxisIndex: 1,
                    tooltip: {
                        valueFormatter: function (value) {
                            return value + ' %';
                        }
                    },
                    data: efficiency
                }
            ]
        };
        // Display the chart using the configuration items and data just specified.
        myChart.setOption(option);
        myChart.on('click', function (params) {

            if (params.seriesName == 'Efficacité')
                window.open("/analyse/districtDetails/" + params.name, "_blank");
            else
                window.open("/analyse/districtHistory/" + params.name, "_blank");
        })
    });


</script>
</body>
</html>