<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head th:insert="fragments/fragments :: head"/>
<head>
    <title>Alertes List</title>
</head>
<body>
<nav th:insert="fragments/fragments :: header_energy"></nav>
<input class="text-center" style="margin-left: 370px;margin-top: 5%;" type="text" id="myInput" onkeyup="myFunction()"
       placeholder="Search by id ...">
<div class="container">
    <div class="row">
        <div class="col-lg-10 mt-5 mb-5">
            <table id="myTable" class="table table-bordered" style="width: 100%">
                <thead>
                <tr>
                    <th>ID</th>
                    <th>Message</th>
                </tr>
                </thead>
                <tbody>
                <tr th:each="alerte : ${alertes}">
                    <td><span class="alerte-id" th:text="${alerte.alerteid}"> Id </span></td>
                    <td><span class="alerte-message" th:text="${alerte.message}"> Message </span></td>
                </tr>
                </tbody>
            </table>
        </div>
    </div>
</div>
</body>
<script>

    function myFunction() {
        // Declare variables
        var input, filter, table, tr, td, i, txtValue;
        input = document.getElementById("myInput");
        filter = input.value.toUpperCase();
        table = document.getElementById("myTable");
        tr = table.getElementsByTagName("tr");

        // Loop through all table rows, and hide those who don't match the search query
        for (i = 0; i < tr.length; i++) {
            td = tr[i].getElementsByTagName("td")[0];
            if (td) {
                txtValue = td.textContent || td.innerText;
                if (txtValue === filter) {
                    tr[i].style.display = "";
                } else {
                    if (filter === "") {
                        allTableRows();
                    } else {
                        tr[i].style.display = "none";
                    }
                }


            }

        }
    }

    function allTableRows() {
        var table = document.getElementById("myTable");
        var tr = table.getElementsByTagName("tr");
        for (let i = 0; i < tr.length; i++) {
            tr[i].style.display = "";
        }
    }
</script>

</html>

<body>