<!DOCTYPE html>
<html lang="fr" xmlns="http://www.w3.org/1999/html">
<head th:fragment="head">
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/css/bootstrap.min.css" rel="stylesheet">
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/js/bootstrap.bundle.min.js"></script>
    <link rel="stylesheet"
          href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap-theme.min.css"
          integrity="sha384-rHyoN1iRsVXV4nD0JutlnGaslCJuC7uwjduW9SVrLvRYooPp2bWYgmgJQIXwl/Sp"
          crossorigin="anonymous">
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/css/bootstrap-grid.min.css"/>
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.6.0/jquery.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.12.3/umd/popper.min.js"
            integrity="sha384-vFJXuSJphROIrBnz7yo7oB41mKfc8JzQZiCq4NCceLEaO4IHwicKwpJf9c9IpFgh"
            crossorigin="anonymous"></script>
</head>
<body>

<nav th:fragment="header_main" class="navbar fixed-top navbar-expand-md navbar-dark bg-dark">

    <div class="container">
        <div class="navbar-header_dwp">
            <a class="navbar-brand" href="/">Accueil</a>
            <a class="navbar-brand" href="/homeSmartGrid">Gestion du Smart Grid</a>
            <a class="navbar-brand" href="/employeelogin">Gestion du DWP</a>

        </div>
    </div>
</nav>

<div th:fragment="header_energy" class="m-4">
    <nav class="navbar fixed-top navbar-expand-md navbar-dark bg-dark">
        <div class="container-fluid">
            <a href="/homeSmartGrid" class="navbar-brand">Accueil</a>
            <button type="button" class="navbar-toggler" data-bs-toggle="collapse" data-bs-target="#navbarCollapse">
                <span class="navbar-toggler-icon"></span>
            </button>
            <div id="navbarCollapsee" class="collapse navbar-collapse">
                <ul class="nav navbar-nav">
                    <th:block th:if="${session.energy_roles.configureEquipment}">
                        <li class="nav-item">
                            <a th:href="'/myHome/' + ${session.loggedAs.idCitizen}" class="dropdown-item">Maison</a>
                        </li>
                    </th:block>
                    <th:block th:if="${session.energy_roles.monitoringEquipment}">
                        <li class="nav-item">
                            <a th:href="'/monitoring/home_type/' + ${session.loggedAs.idHome}" class="nav-link">Monitorer l'activité d'une maison</a>
                        </li>
                    </th:block>
                    <th:block th:if="${session.energy_roles.smartGrid}">
                        <li class="nav-item">
                            <a href="/homeEnergy" class="nav-link">Exploiter le réseau d'énergie</a>
                        </li>
                    </th:block>
                    <th:block th:if="${session.energy_roles.alertingCitizen}">
                        <li class="nav-item">
                            <a href="/alert" class="nav-link">Alertes</a>
                        </li>
                    </th:block>
                    <th:block th:if="${session.energy_roles.mixEnergy}">
                        <li class="nav-item">
                            <a href="/totalEnergy" class="nav-link">Exploiter le mix énergétique</a>
                        </li>
                    </th:block>
                    <th:block th:if="${session.energy_roles.smartCity}">
                        <li class="nav-item">
                            <a href="#" class="nav-link dropdown-toggle" data-bs-toggle="dropdown">Analyse de l'activité de la SmartCity</a>
                            <div class="dropdown-menu" style="left:520px; top:85%;">
                                <a href="/analyse/dashboard" class="dropdown-item">Tableau de bord</a>
                            </div>
                        </li>
                    </th:block>
                </ul>
                <div class="ml-auto">
                    <a href="/logout" class="btn btn-light btn-md">
                        <span class="glyphicon glyphicon-log-out"></span> Déconnexion
                    </a>
                </div>
            </div>
        </div>
    </nav>
</div>

<div th:fragment="header_dwp" class="m-4">
    <nav class="navbar fixed-top navbar-expand-md navbar-dark bg-dark">
        <div class="container-fluid">
            <a href="/homeDWP" class="navbar-brand">Accueil</a>
            <button type="button" class="navbar-toggler" data-bs-toggle="collapse" data-bs-target="#navbarCollapse">
                <span class="navbar-toggler-icon"></span>
            </button>
            <div id="navbarCollapse" class="collapse navbar-collapse">
                <ul class="nav navbar-nav">
                    <li class="nav-item">
                        <a href="#" class="nav-link dropdown-toggle" data-bs-toggle="dropdown">Services</a>
                        <div class="dropdown-menu" style="left:5.2%; top:85%;">
                            <a th:href="'/employees/' + ${session.company}" class="dropdown-item">Utilisateurs</a>
                            <a th:href="'/roomReservation/'" class="dropdown-item">Réserver une salle</a>
                            <a th:href="'/myReservation/' + ${session.loggedAs.id_employee}" class="dropdown-item">Mes
                                réservations</a>
                            <a th:href="'/myMeetings/' + ${session.loggedAs.id_employee}" class="dropdown-item">Mes
                                réunions</a>
                        </div>
                    </li>
                    <li id="maptest" class="nav-item dropdown">
                        <a href="#" class="nav-link dropdown-toggle" data-bs-toggle="dropdown">Plan et déplacement</a>
                        <div class="dropdown-menu">
                            <th:block th:if="${session.roles.has_configuration_plan}">
                                <a href="/config" class="dropdown-item">Configuration des plans</a>
                            </th:block>
                            <a href="/choose" class="dropdown-item">Visualisation des plans</a>
                            <a href="/guide" class="dropdown-item">Se déplacer</a>
                        </div>
                    </li>
                    <li class="nav-item">
                        <a href="/allReservationsjoin" class="nav-link">Equipements</a>
                    </li>
                    <li class="nav-item">
                        <a href="#" class="nav-link">Monitorer les salles de réunions</a>
                    </li>
                    <li class="nav-item">
                        <a href="/analyse" class="nav-link">Analyser l'activité de la SmartCity</a>
                    </li>
                </ul>
                <div class="ml-auto">
                    <a href="/logout" class="btn btn-light btn-md">
                        <span class="glyphicon glyphicon-log-out"></span> Déconnexion
                    </a>
                </div>
            </div>
        </div>
    </nav>
</div>

<div th:fragment="welcome_energy">
    <div style="margin-top: 5%;text-align: center;">
        <h1> Bienvenue chez Checkmate !</h1>
        <img style="margin-top: 5%;margin-bottom: 5%;" src="pictures/logockmate.png" alt="Logo"
             title="Checkmate vous souhaite la bienvenue"/>
        <h2>Vous êtes dans l'espace énergétique de la ville.</h2>
    </div>
</div>

<div th:fragment="welcome_dwp">
    <div style="margin-top: 5%;text-align: center;">
        <h1> Bienvenue chez Checkmate !</h1>
        <img style="margin-top: 5%;margin-bottom: 5%;" src="pictures/logockmate.png" alt="Logo"
             title="Checkmate vous souhaite la bienvenue"/>
        <h2>Vous êtes dans l'espace DWP de la ville.</h2>
    </div>
</div>

<div th:fragment="modalSpace">
    <button th:id="'myBtn' + ${space.id_space}" class="btn btn-dark btn-sm">
        <span th:if="${space.type.equals('Open Space')}">OP <span th:text="${space.id_space}"></span></span>
        <span th:if="${space.type.equals('Kitchen')}">K <span th:text="${space.id_space}"></span></span>
        <span th:if="${space.type.equals('Meeting room')}">M <span th:text="${space.id_space}"></span></span>
        <span th:if="${space.type.equals('Dual Office')}">DO <span th:text="${space.id_space}"></span></span>
        <span th:if="${space.type.equals('Individual Office')}">O <span th:text="${space.id_space}"></span></span>
    </button>
    <div th:id="'myModal' + ${space.id_space}" class="modal">
        <div class="modal-content">
            <span th:id="'close' + ${space.id_space}" class="close">&times;</span>
            <p>ID SPACE : <span th:text="${space.id_space}"></span></p>
            <p>SPACE NUMBER : <span th:text="${space.space_number}"></span></p>
            <p>ID AREA : <span th:text="${space.id_area}"></span></p>
            <p>ID SPACE TYPE : <span th:text="${space.id_type_space}"></span></p>
            <p>TYPE SPACE : <span th:text="${space.type}"></span></p>
        </div>
    </div>
</div>

<div th:fragment="modalCorridor">
    <button th:id="'myBtnC' + ${corridor.id_corridor}" class="btn btn-light"><span
            th:text="${corridor.orientation}"> </span></button>
    <div th:id="'myModalC' + ${corridor.id_corridor}" class="modal">
        <div class="modal-content">
            <span th:id="'closeC' + ${corridor.id_corridor}" class="close">&times;</span>
            <p>ID CORRIDOR : <span th:text="${corridor.id_corridor}"></span></p>
            <p>CORRIDOR ORIENTATION : <span th:text="${corridor.orientation}"></span></p>
            <p>ID FLOOR : <span th:text="${corridor.id_floor}"></span></p>
        </div>
    </div>
</div>

</body>
</html>