<div th:fragment="map" class="floor container">
    <div class="row">
        <th:block th:each="area: ${areaN}">
            <th:block th:if="${area.area_localisation == 'NE'}">
                <th:block th:each="corridor: ${corridors}">
                    <th:block th:if="${corridor.orientation == 'V'}">
                        <div class="col-md-1 corridor-vn">
                            <div row="0" col="5" class="row" style="height: 75px;">
<!--                                <div th:insert="fragments/fragments :: modalCorridor"></div>-->
                            </div>
                            <div row="1" col="5" class="row" style="height: 75px;">
                            </div>
                        </div>
                        <div class="col-md-1 corridor-vn">
                            <div row="0" col="6" class="row" style="height: 75px;">
                            </div>
                            <div row="1" col="6" class="row" style="height: 75px;">
                            </div>
                        </div>
                    </th:block>
                </th:block>
            </th:block>
            <th:block th:each="space: ${spacesN}">
                <th:block th:if="${area.id_area == space.id_area}">
                    <div th:if="${space.type.contains('Open Space')} and ${corridors.size == 1}"
                         class="col-md-6 area">
                        <div th:insert="fragments/fragments :: modalSpace"></div>
                    </div>
                    <div th:if="${space.type.contains('Open Space')} and ${corridors.size == 2}"
                         class="col-md-5 area">
                        <div th:insert="fragments/fragments :: modalSpace"></div>
                    </div>
                    <div th:if="${space.type.contains('Kitchen')} and ${corridors.size == 1}" class="col-md-3 area">
                        <div th:insert="fragments/fragments :: modalSpace"></div>
                    </div>
                    <div th:if="${space.type.contains('Meeting room')} and ${corridors.size == 1}" class="col-md-3 area">
                        <div th:insert="fragments/fragments :: modalSpace"></div>
                    </div>
                    <div th:if="${space.type.contains('Kitchen')} and ${corridors.size == 2}" class="col-md-2 area">
                        <div th:insert="fragments/fragments :: modalSpace"></div>
                    </div>
                    <div th:if="${space.type.contains('Meeting room')} and ${corridors.size == 2}" class="col-md-2 area">
                        <div th:insert="fragments/fragments :: modalSpace"></div>
                    </div>
                    <div th:if="${space.type.contains('Dual Office')}" class="col-md-1 area">
                        <div th:insert="fragments/fragments :: modalSpace"></div>
                    </div>
                    <div th:if="${space.type == 'Individual Office' && (space.position_in_area == 5)}"
                         class="col-md-1 area">
                        <th:block th:each="space: ${spacesN}">
                            <div th:if="${space.type == 'Individual Office' && (space.position_in_area == 5)}">
                                <div class="row" style="height: 75px; border-bottom: 1px solid black;">
                                    <div th:insert="fragments/fragments :: modalSpace"></div>
                                </div>
                            </div>
                            <div th:if="${space.type == 'Individual Office' && (space.position_in_area == 6)}">
                                <div class="row" style="height: 75px;">
                                    <div th:insert="fragments/fragments :: modalSpace"></div>
                                </div>
                            </div>
                        </th:block>
                    </div>
                    <div th:if="${space.type == 'Individual Office' && (space.position_in_area == 1)}"
                         class="col-md-1 area">
                        <th:block th:each="space: ${spacesN}">
                            <div th:if="${space.type == 'Individual Office' && (space.position_in_area == 1)}">
                                <div class="row" style="height: 75px; border-bottom: 1px solid black;">
                                    <div th:insert="fragments/fragments :: modalSpace"></div>
                                </div>
                            </div>
                            <div th:if="${space.type == 'Individual Office' && (space.position_in_area == 2)}">
                                <div class="row" style="height: 75px;">
                                    <div th:insert="fragments/fragments :: modalSpace"></div>
                                </div>
                            </div>
                        </th:block>
                    </div>
                </th:block>
            </th:block>
        </th:block>
    </div>
    <div class="row">
        <th:block th:each="corridor: ${corridors}">
            <th:block th:if="${corridor.orientation == 'H'} and ${corridors.size == 2}">
                <div row="2" col="0" class="col-md-1 corridor-h">
<!--                    <div th:insert="fragments/fragments :: modalCorridor"></div>-->
                </div>
                <div row="2" col="1" class="col-md-1 corridor-h">
                </div>
                <div row="2" col="2" class="col-md-1 corridor-h">
                </div>
                <div row="2" col="3" class="col-md-1 corridor-h">
                </div>
                <div row="2" col="4" class="col-md-1 corridor-h">
                </div>
                <div row="2" col="5" class="col-md-1 corridor-h">
                </div>
                <div row="2" col="6" class="col-md-1 corridor-h">
                </div>
                <div row="2" col="7" class="col-md-1 corridor-h">
                </div>
                <div row="2" col="8" class="col-md-1 corridor-h">
                </div>
                <div row="2" col="9" class="col-md-1 corridor-h">
                </div>
                <div row="2" col="10" class="col-md-1 corridor-h">
                </div>
                <div row="2" col="11" class="col-md-1 corridor-h">
                </div>
            </th:block>
            <th:block th:if="${corridor.orientation == 'H'} and ${corridors.size == 1}">
                <div row="2" col="0" class="col-md-1 corridor">
<!--                    <div th:insert="fragments/fragments :: modalCorridor"></div>-->
                </div>
                <div row="2" col="1" class="col-md-1 corridor">
                </div>
                <div row="2" col="2" class="col-md-1 corridor">
                </div>
                <div row="2" col="3" class="col-md-1 corridor">
                </div>
                <div row="2" col="4" class="col-md-1 corridor">
                </div>
                <div row="2" col="5" class="col-md-1 corridor">
                </div>
                <div row="2" col="6" class="col-md-1 corridor">
                </div>
                <div row="2" col="7" class="col-md-1 corridor">
                </div>
                <div row="2" col="8" class="col-md-1 corridor">
                </div>
                <div row="2" col="9" class="col-md-1 corridor">
                </div>
                <div row="2" col="10" class="col-md-1 corridor">
                </div>
                <div row="2" col="11" class="col-md-1 corridor">
                </div>
            </th:block>
        </th:block>
    </div>
    <div class="row">
        <th:block th:each="area: ${areaS}">
            <th:block th:if="${area.area_localisation == 'SE'}">
                <th:block th:each="corridor: ${corridors}">
                    <th:block th:if="${corridor.orientation == 'V'}">
                        <div class="col-md-1 corridor-vs">
                            <div row="3" col="5" class="row" style="height: 75px;">
                            </div>
                            <div row="4" col="5" class="row" style="height: 75px;">
                            </div>
                        </div>
                        <div class="col-md-1 corridor-vs">
                            <div row="3" col="6" class="row" style="height: 75px;">
                            </div>
                            <div row="4" col="6" class="row" style="height: 75px;">
                            </div>
                        </div>
                    </th:block>
                </th:block>
            </th:block>
            <th:block th:each="space: ${spacesS}">
                <th:block th:if="${area.id_area == space.id_area}">
                    <div th:if="${space.type.contains('Open Space')} and ${corridors.size == 1}"
                         class="col-md-6 area">
                        <div th:insert="fragments/fragments :: modalSpace"></div>
                    </div>
                    <div th:if="${space.type.contains('Open Space')} and ${corridors.size == 2}"
                         class="col-md-5 area">
                        <div th:insert="fragments/fragments :: modalSpace"></div>
                    </div>
                    <div th:if="${space.type.contains('Kitchen')} and ${corridors.size == 1}" class="col-md-3 area">
                        <div th:insert="fragments/fragments :: modalSpace"></div>
                    </div>
                    <div th:if="${space.type.contains('Meeting room')} and ${corridors.size == 1} "
                         class="col-md-3 area">
                        <div th:insert="fragments/fragments :: modalSpace"></div>
                    </div>
                    <div th:if="${space.type.contains('Kitchen')} and ${corridors.size == 2}" class="col-md-2 area">
                        <div th:insert="fragments/fragments :: modalSpace"></div>
                    </div>
                    <div th:if="${space.type.contains('Meeting room')} and ${corridors.size == 2} "
                         class="col-md-2 area">
                        <div th:insert="fragments/fragments :: modalSpace"></div>
                    </div>
                    <div th:if="${space.type.contains('Dual Office')}" class="col-md-1 area">
                        <div th:insert="fragments/fragments :: modalSpace"></div>
                    </div>
                    <div th:if="${space.type == 'Individual Office' && (space.position_in_area == 5)}"
                         class="col-md-1 area">
                        <th:block th:each="space: ${spacesS}">
                            <div th:if="${space.type == 'Individual Office' && (space.position_in_area == 5)}">
                                <div class="row" style="height: 75px; border-bottom: 1px solid black;">
                                    <div th:insert="fragments/fragments :: modalSpace"></div>
                                </div>
                            </div>
                            <div th:if="${space.type == 'Individual Office' && (space.position_in_area == 6)}">
                                <div class="row" style="height: 75px;">
                                    <div th:insert="fragments/fragments :: modalSpace"></div>
                                </div>
                            </div>
                        </th:block>
                    </div>
                    <div th:if="${space.type == 'Individual Office' && (space.position_in_area == 1)}"
                         class="col-md-1 area">
                        <th:block th:each="space: ${spacesS}">
                            <div th:if="${space.type == 'Individual Office' && (space.position_in_area == 1)}">
                                <div class="row" style="height: 75px; border-bottom: 1px solid black;">
                                    <div th:insert="fragments/fragments :: modalSpace"></div>
                                </div>
                            </div>
                            <div th:if="${space.type == 'Individual Office' && (space.position_in_area == 2)}">
                                <div class="row" style="height: 75px;">
                                    <div th:insert="fragments/fragments :: modalSpace"></div>
                                </div>
                            </div>
                        </th:block>
                    </div>
                </th:block>
            </th:block>
        </th:block>
    </div>
</div>